<a href="https://colab.research.google.com/github/Ravi-2003-1206/python_practice/blob/main/practice_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1) What is Python and why is it popular?

Python is a computer programmig language often used to build websites and software automate tasks and analyze data. python is a general purposa language anot specified for any specific problems.

#2) What is an IDE and name a few popular Python IDEs?

Integrated development environments (IDEs) are coding tools that make writing, debugging, and testing your code easier.

#3) What are the rules for naming variables in Python?

* A variable name must start with a letter or the underscore character.
* A variable name cannot start with a number.
* A variable name can only contain alpha numeric characters and undersore (a-z,0-9).
* variable names are case sensitive (age, Age and age are three different variables).

#4) How do you assign multiple values to multiple variables in a single line?

When assigning multiple variables in a single line, diffrernt variable names are provided to the left of the assignment operator separated by a comma.

1. multi to single
2. multi to multi.

In [ ]:
#multi to single
x=y=z = 2
print(x,y,z)

2 2 2

In [ ]:
#multi to multi
a,b,c = 2,4,6
print(a,b,c)

2 4 6

#5) Can you use Python keywords as variable names? Why or why not?

A variable name can only contain alpha numaeric characters and underscores (a-z,0-9). A variable name cannot be any of the python keywords.

#6) Why are comments important in programming?

comments are important in programming because they make code esaier to understand maintain and collaborate on.

In [ ]:
a = 23
b = 43
c = a+b
print(c)

66

#7) What are the basic data types in Python?

There are 4 data types:-
1. integer
2. float
3. complex
4. boolean

In [ ]:
#int
a = 7
b = -7
c = 0
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'int'>
<class 'int'>

In [ ]:
#float
a = 7.21
b = 2.86
c = 75.43
print(type(a))
print(type(b))
print(type(c))

<class 'float'>
<class 'float'>
<class 'float'>

In [ ]:
#complex
a = 2+6j
b = 4+7j
print(type(a))
print(type(b))

<class 'complex'>
<class 'complex'>

#8) How do you convert a string to an integer in Python?

To convert the use of the built in int() function to convert string to an integer.

In [ ]:
x =("2")
x =int(x)
print(x)
print(type(x))

2
<class 'int'>

#9) What is the difference between int and float?

* An integer more commnly called an int is a number without a decimal point.
* A float is a floating point number which means it is a number that has a decimal place.

In [ ]:
#int
a = 12
print(type(a))

<class 'int'>

In [ ]:
#float
a = 2.2
print(type(a))

<class 'float'>

#10) How do you check the data type of a variable?

we can check the data type are a varible by using type funtion()
by the type() funtion we can check the where the variable is a data type are not.

#11) How do you add an element to a list?

* Elements can be added to the list using built in functions like append().

In [ ]:
a = [1,4,3]
a.append(4)
print(a)

[1, 4, 3, 4]

#12) How do you create a tuple with one element?

A tuple with only one element in an assignment statement. simply follow the element with a comma.

In [ ]:
ravi = (1,2,3,4,5)
print(type(ravi))

<class 'tuple'>

#14) How do you access elements in a list?

To access the elements to the list we use different mathods to access the element * the mathods are append(),copy(),remove(),revers(),pop(),sort(),max(),min(),

In [ ]:
r = (1,4,8,2,5)
r = list(r)
print(r)

[1, 4, 8, 2, 5]

#15) How do you access a character in a string?

* Individual characters of a string can be accessed by using the method of indexing.
* Indexing allows negative address references to access characters from the back of the String.
* While accessing an index out of the range will cause an index error.
* Only integers are allowed to be passed as an index, float or other types that will cause a type error.

#17) What is a tuple and how is it different from a list?

* The main difference between lists and tuples is that tuples can not be changed after they are created.
* Tuples use less memory than lists.
* They are also a bit faster, especially when you are looking up values.

# 18) How do you concatenate two tuples?

combine 2 tuples

In [ ]:
a = (11,22,44,33)
b = (33,55,77)
c = a+b
print(c)

(11, 22, 44, 33, 33, 55, 77)

#22) How do you add an element to a set?

You can add elements and tuples to a set by using the add() method.

In [ ]:
a = {1,2,3}
a.add(22)
print(a)

{1, 2, 3, 22}

#23) How do you remove an element from a set?

Using the remove() method.

In [ ]:
x ={1,4,3,0}
x.remove(0)
print(x)

{1, 3, 4}

#24) What are the common set operations in Python?

* Union
* Intersection
* Difference
* Set_symmetric_difference

#25) Write a Python program to find the index of an element in a tuple?

Index:- It used to find the position of the element or items.

In [ ]:
a = (1,2,3,4)
a.index(2)

1